<!DOCTYPE html>
<html lang="en">
<head>
<title>To-Doer</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/site.css" type="text/css" />
<script type="text/javascript">{{kolib}}</script>
<script type="text/javascript">{{uslib}}</script>
<script type="text/javascript">{{zplib}}</script>
<script type="text/javascript">



var ViewModel = {
  username: "{{ username }}",
  todos: ko.observableArray({{ todos|safe }}),

  recv_todo: function (todo) {
    var td = _.findWhere(this.todos(), {ID: todo.ID});
    if (!_.isUndefined(td)) {
      this.todos.splice(this.todos.indexOf(td), 1, todo);
    } else {
      this.todos.push(todo);
    }
  }

}

function doit(ID, body, priority) {
  $.post(
    '/todo/' + ID,
    {body: body, priority: priority},
    function(data){
      ViewModel.recv_todo(data['todo']);
    },
    "json");
}

$(document).ready(function(){
  ko.applyBindings(ViewModel);
  $('#todos').click(function(){
    doit(23, 'neato', 2);
  });
});

</script>
</head>
<body>
 <h1>Hello World!</h1>
 <h3>Welcome <span data-bind="text: username"></span></h3>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}

<div data-bind="foreach: todos">
  <div class="todo_tile">
    <p data-bind="text: priority"></p>
    <p data-bind="text: body">The JS did not run...  Check the console.</p>
  </div>
</div>

<a href="/logout">logout</a>
<div id="todos">hey</div>
</body>
</html>

