<!DOCTYPE html>
<html lang="en">
<head>
<title>To-Doer</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/site.css" type="text/css" />
<script type="text/javascript">{{kolib}}</script>
<script type="text/javascript">{{uslib}}</script>
<script type="text/javascript">{{zplib}}</script>
<script type="text/javascript">
function doit() {
  $.ajax({
    url: '/todos',
    dataType: 'json',
    timeout: 300,
    success: function(data){
      $('#todos').html('' + data);
      console.log(data);
    },
    error: function(xhr, errtype){
      alert(errtype);
    }
  });
}

$(document).ready(function(){
  $('#todos').click(doit);
});

</script>
</head>
<body>
 <h1>Hello World!</h1>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}
<a href="/logout">logout</a>
<div id="todos">hey</div>
</body>
</html>

