<!DOCTYPE html>
<html lang="en">
<head>
<title>To-Doer</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/site.css" type="text/css" />
<link rel="stylesheet" href="/static/css/pikaday.css">
<script type="text/javascript">{{kolib}}</script>
<script type="text/javascript">{{uslib}}</script>
<script type="text/javascript">{{zplib}}</script>
<script type="text/javascript" src="/static/js/moment.js"></script>
<script type="text/javascript" src="/static/js/pikaday.js"></script>
<script type="text/javascript">

var ViewModel = {
  username: "{{ username }}",
  todos: ko.observableArray({{ todos|safe }}),

  recv_todo: function (todo) {
    var td = this.todo_from_ID(todo.ID);
    if (!_.isUndefined(td)) {
      this.todos.splice(this.todos.indexOf(td), 1, todo);
    } else {
      this.todos.push(todo);
    }
  },

  next_id: function () {
    if (!this.todos().length) { return 0; }
    return 1 + _.max(this.todos(), function(td){ return td.ID; }).ID;
  },

  sort_by_priority: function (d) {
   this.todos.sort(function(left, right){
     return left.priority == right.priority ? 0 : (left.priority < right.priority ? -d : d);
   });
  },

  todo_from_ID: function (ID) {
    return _.findWhere(this.todos(), {ID: ID});
  },

  delete_todo: function (todo) {
    $.ajax({
      type: 'DELETE',
      url: '/api/todo/' + todo.ID,
      success: function(){ ViewModel.todos.remove(todo); },
      error: function(xhr, type){
        alert(type)
      }
    })
  }

}

function doit(ID, body, priority) {
  $.post(
    '/todo/' + ID,
    {ID: ID, body: body, priority: priority},
    function(data){
      ViewModel.recv_todo(data['todo']);
    },
    "json");
}

var picker;

$(document).ready(function(){

  ko.applyBindings(ViewModel);

  var sort_direction = 1;

  $('#sort').click(function(){
    ViewModel.sort_by_priority(sort_direction);
    sort_direction = -sort_direction;
  });

  $('form').submit(function(){
    var o = _.indexBy($('form').serializeArray(), 'name');
    doit(ViewModel.next_id(), o.body.value, o.priority.value)
    return false;
  });

  picker = new Pikaday({
    field: $('#datepicker')[0],
    onSelect: function() {
        console.log(this.getMoment().format("dddd, MMMM Do YYYY"));
        $('#date').val(this.getMoment().format("X ZZ YYYY-mm-dd"))
    },
    minDate: new Date(),
    maxDate: new Date('2024-12-31'),
    yearRange: [2014,2024],
    format: "dddd, MMMM Do YYYY"
/*
    onSelect: function() {
        var date = document.createTextNode(this.getMoment().format('Do MMMM YYYY') + ' ');
        document.getElementById('selected').appendChild(date);
    }
*/
    });

});

</script>
</head>
<body>
 <h1>Hello World!</h1>
 <h3>Welcome <span data-bind="text: username"></span></h3>

<div id="bar">
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}
<a href="/logout">logout</a>
</div>

<div class="new_todo">
  <form>
    <label for="priority">priority</label>
    <select id="priority" name="priority">
      <option value="0">House afire!</option>
      <option value="1">After some coffee.</option>
      <option value="2">Todayish.</option>
      <option value="3">Probably not.</option>
    </select>
    <br>
    <label for="body">To-do:</label>
    <textarea id="body" name="body"></textarea>
    <br>
    <input type="text" id="datepicker">
    <input type="text" id="date">
    <br>
    <input type="submit" value="do it"/>
  </form>
</div>

<div id="sort">sort</div>

<div data-bind="foreach: todos">
  <div class="todo_tile">
    <p data-bind="visible: priority == 0">House afire!</p>
    <p data-bind="visible: priority == 1">After some coffee.</p>
    <p data-bind="visible: priority == 2">Todayish.</p>
    <p data-bind="visible: priority == 3">Probably not.</p>
    <button data-bind="click: $parent.delete_todo">X</button>
    <p data-bind="text: body">The JS did not run...  Check the console.</p>
  </div>
</div>

</body>
</html>

